
/*big tablets to 1200px: (width smaller that the 1140px row)*/
@media only screen and (max-width: 1200px){
    .row{
        padding: 0 5%;
    }  
    .slider{
        height: 500px;
        align-items: center;
    }
    .box2{
        margin: 15px;  
    }
    .slider figure{
        left: -50%;
        transform: translateX(26%);
    }

/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width: 1023px){
    
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }

    
    .main-nav {
        float: right;
        margin-top: 30px;
        margin-left: 10px;
    }
    .main-nav li{ margin-left: 10px; }
    
    .column1,
    .column2{
        width: 100%;   
    }
    .slideshow{
        height: 150vh;
    }
    .slider{
        height: 145vh;
    }
    .slider figure{
        height: 115vh;
        left: -45%;
        transform: translateX(23%);

    }
    .box2{
        height: auto;
        width: 90%;
    }
    
}

/*small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px){
    body{ font-size: 16px; }
    section{ padding: 30px 0; }
    .row{ padding: 0 4%; }
    .col{ width: 100%; }  
    
    header{ height: 90vh; }
    
    .main-nav{
        display: none;
    }
    
    .my-img{
        height: 150px;
        width: 150px;
        margin-left: 20%;

    }
    .skills li{
        width: 100%;
        margin: 10px 0; 
    }
    
    .skill h4{ font-size: 80%; }
    
    .btn{ padding: 10px  12px; }
    

    .box2{
        height: auto;
        width: 90%;
    }
    
    .slideshow{
        height: 150vh;
    }
    .slider{
        height: 145vh;
        overflow: hidden;
    }
    .slider figure{
        height: 115vh;
        
        
    }
  
    .navigation{
        margin-left: 63%;
    }
    
}

/*small phones: from 0 to 480px*/
@media only screen and (max-width: 480px){
    body{ font-size: 12px; }
    section{ padding: 20px 0; }
    .row{ padding: 0 4%; }
    .col{ width: 100%; }  
    
    header{ height: 50vh; }
    .my-img{
        height: 100px;
        width: 100px;
    }
    .intro-section{
        top: 20%;
        left: 50%;   
    }
    .btn{ padding: 8px  5px; }
    .col{ 
        width: 100%;
        margin-bottom: 10px;
    }
    .container {
        width: 90%;
        margin: 0 5%;

    } 
    .grid-column-2{
        padding: 0 0; 
    }
    .experience-top{
        width: 100%;

    }
    .slideshow{
        height: 150vh;
    }
    .slider{
        height: 130vh;
        overflow: hidden;
    }
    .slider figure{
        height: 120vh;
        
    }
    
    .footer-list li{
        display: inline-block;
        padding-top: 50px;
        margin-left: 15px;
    }
}